
.vs/mvcdocker/xs/project-cache/mvcdocker-Debug.json
.vs/mvcdocker/xs/sqlite3/db.lock
.vs/mvcdocker/xs/sqlite3/storage.ide
.vs/mvcdocker/xs/UserPrefs.xml
mvcdocker/obj/Debug/netcoreapp2.1/mvcdocker.assets.cache
mvcdocker/obj/Debug/netcoreapp2.1/mvcdocker.csprojAssemblyReference.cache
mvcdocker/obj/Debug/netcoreapp2.1/mvcdocker.assets.cache
*.cache
mvcdocker/obj/mvcdocker.csproj.nuget.dgspec.json
mvcdocker/obj/project.assets.json
mvcdocker/Program.cs
*.json
mvcdocker/obj/project.assets.json
mvcdocker/obj/Debug/netcoreapp2.1/mvcdocker.csprojAssemblyReference.cache
mvcdocker/obj/project.assets.json
mvcdocker/obj/mvcdocker.csproj.nuget.dgspec.json
mvcdocker/obj/mvcdocker.csproj.nuget.cache
mvcdocker/obj/Debug/netcoreapp2.1/mvcdocker.csprojAssemblyReference.cache
